body {
    font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
}

.fa-adjust-4 {
    position: relative;
    top: 4px;
}

.w-px-32 {
    width: 32px;
}

.onboarding-card-height {
    height: calc(100vh - 320px);
}